# Copie ce fichier en .env et remplace par TES vraies valeurs (ne jamais commit le .env)
DISCORD_TOKEN=remplace_par_ton_token_discord
DISCORD_CLIENT_ID=id_application_developer_portal
DISCORD_GUILD_ID=id_de_ton_serveur_discord
CLAIM_CHANNEL_ID=id_salon_claim_video
WINNERS_CHANNEL_ID=id_salon_gagnants
